In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [14]:
macro = pd.read_csv("../data/processed/macro_processed.csv", parse_dates=["Unnamed: 0"])
macro = macro.rename(columns={"Unnamed: 0": "Date"})
macro = macro.set_index("Date")
macro.head()

,DGS10,INDPRO,UNRATE,CPIAUCSL,DCOILWTICO,FEDFUNDS,VIXCLS,UMCSENT,GDP
Date,,,,,,,,,
2000-01-03,6.58,91.8239,4.1,170.0,25.56,5.73,24.21,111.3,10660.465
2000-01-04,6.49,91.8239,4.1,170.0,25.56,5.73,27.01,111.3,10660.465
2000-01-05,6.62,91.8239,4.1,170.0,24.65,5.73,26.41,111.3,10660.465
2000-01-06,6.57,91.8239,4.1,170.0,24.79,5.73,25.73,111.3,10660.465
2000-01-07,6.52,91.8239,4.1,170.0,24.79,5.73,21.72,111.3,10660.465

**Goal: Event Response Features**
- Capture systematic market responses to macro catalysts and convert them into reusable features for signal research.

**Personal Notes**
- Unlike traditional event studies which is one-off analysis, average response around an event that are mostly descriptive and not reuseable and hard to integrate into a larger framework, I will be focusing on converting macro events into time indexed features not only on event dates and can feed into predictive models, regime analysis and cross-asset signal research. In simple english, We are not trying to study events but studying how markets encode macro information over time.

**Layer 1**
- Capture slow-moving macro conditions that define the environment in which shocks propagate.

**Why this matters**
- Markets respond differently to the same event depending on the macro state.

In [ ]:
state = pd.DataFrame(index=macro.index)

state["inflation_yoy"] = macro["CPIAUCSL"].pct_change(12) 
state["growth_yoy"] = macro["INDPRO"].pct_change(12)
state["unemployment"] = macro["UNRATE"]
state["sentiment"] = macro["UMCSENT"]

Date
2000-01-03        NaN
2000-01-04        NaN
2000-01-05        NaN
2000-01-06        NaN
2000-01-07        NaN
               ...
2000-05-15    0.00117
2000-05-16    0.00117
2000-05-17    0.00000
2000-05-18    0.00000
2000-05-19    0.00000
Name: inflation_yoy, Length: 100, dtype: float64

In [10]:
macro.isnull().sum()/len(macro)

DGS10         0.0
INDPRO        0.0
UNRATE        0.0
CPIAUCSL      0.0
DCOILWTICO    0.0
FEDFUNDS      0.0
VIXCLS        0.0
UMCSENT       0.0
GDP           0.0
dtype: float64

In [11]:
macro["month-year"] = macro.index.to_period("M")
macro["qtr-year"] = macro.index.to_period("Q")
macro["bi-annual-year"] = macro.index.to_period("2Q")
macro["year"] = macro.index.to_period("Y")

In [12]:
macro.head()

,DGS10,INDPRO,UNRATE,CPIAUCSL,DCOILWTICO,FEDFUNDS,VIXCLS,UMCSENT,GDP,month-year,qtr-year,bi-annual-year,year
Date,,,,,,,,,,,,,
2000-01-03,6.58,91.8239,4.1,170.0,25.56,5.73,24.21,111.3,10660.465,2000-01,2000Q1,2000Q1,2000
2000-01-04,6.49,91.8239,4.1,170.0,25.56,5.73,27.01,111.3,10660.465,2000-01,2000Q1,2000Q1,2000
2000-01-05,6.62,91.8239,4.1,170.0,24.65,5.73,26.41,111.3,10660.465,2000-01,2000Q1,2000Q1,2000
2000-01-06,6.57,91.8239,4.1,170.0,24.79,5.73,25.73,111.3,10660.465,2000-01,2000Q1,2000Q1,2000
2000-01-07,6.52,91.8239,4.1,170.0,24.79,5.73,21.72,111.3,10660.465,2000-01,2000Q1,2000Q1,2000

In [33]:
df_monthly = df.groupby(["month-year"]).mean()
df_qtrly = df.groupby(["qtr-year"]).mean()
df_biannually = df.groupby(["bi-annual-year"]).mean()
df_yearly = df.groupby(["year"]).mean()

In [34]:
df_monthly.nunique()/len(df_monthly)

GDP               0.227564
UNRATE            0.195513
CPIAUCSL          0.685897
FEDFUNDS          0.394231
DGS10             0.993590
DCOILWTICO        1.000000
INDPRO            0.711538
UMCSENT           0.525641
VIXCLS            0.993590
qtr-year          0.333333
bi-annual-year    0.333333
year              0.083333
dtype: float64

In [35]:
df_qtrly.nunique()/len(df_qtrly)

GDP               0.509615
UNRATE            0.942308
CPIAUCSL          1.000000
FEDFUNDS          0.903846
DGS10             1.000000
DCOILWTICO        1.000000
INDPRO            1.000000
UMCSENT           1.000000
VIXCLS            1.000000
month-year        1.000000
bi-annual-year    1.000000
year              0.250000
dtype: float64

In [36]:
df_biannually.nunique()/len(df_biannually)

GDP           0.509615
UNRATE        0.942308
CPIAUCSL      1.000000
FEDFUNDS      0.903846
DGS10         1.000000
DCOILWTICO    1.000000
INDPRO        1.000000
UMCSENT       1.000000
VIXCLS        1.000000
month-year    1.000000
qtr-year      1.000000
year          0.250000
dtype: float64

In [37]:
df_yearly.nunique()/len(df_yearly)

GDP               0.961538
UNRATE            1.000000
CPIAUCSL          1.000000
FEDFUNDS          1.000000
DGS10             1.000000
DCOILWTICO        1.000000
INDPRO            1.000000
UMCSENT           1.000000
VIXCLS            1.000000
month-year        1.000000
qtr-year          1.000000
bi-annual-year    1.000000
dtype: float64

In [38]:
df_yearly

,GDP,UNRATE,CPIAUCSL,FEDFUNDS,DGS10,DCOILWTICO,INDPRO,UMCSENT,VIXCLS,month-year,qtr-year,bi-annual-year
year,,,,,,,,,,,,
2000,10660.465000,3.992063,172.199603,6.250595,6.029444,30.367579,92.538752,107.283730,23.315000,2000-06,2000Q2,2000Q2
2001,10660.465000,4.675403,176.912500,4.043347,5.019274,25.887097,89.901336,90.173387,25.749677,2001-06,2001Q2,2001Q2
2002,10902.125444,5.758730,179.814286,1.705873,4.606944,26.190198,89.968779,89.041270,27.292460,2002-06,2002Q2,2002Q2
2003,11433.101044,6.000397,183.482937,1.153095,4.016865,31.079881,91.089392,88.734921,21.982857,2003-06,2003Q2,2003Q2
2004,12183.152310,5.557540,188.710714,1.336706,4.270754,41.507976,93.482965,94.569841,15.480397,2004-06,2004Q2,2004Q2
2005,12937.799889,5.095238,195.288492,3.181429,4.290159,56.644048,96.616181,88.915476,12.807063,2005-06,2005Q2,2005Q2
2006,13142.642000,4.623904,201.399203,4.923705,4.794622,66.051116,98.979297,86.685259,12.806534,2006-06,2006Q2,2006Q2
2007,13543.576757,4.550996,207.149028,5.044104,4.632430,72.386693,101.543151,84.821912,17.535936,2007-06,2007Q2,2007Q2
2008,14772.666854,5.726877,215.210798,2.052530,3.665771,99.671502,98.592055,63.449407,32.694862,2008-06,2008Q2,2008Q2
2009,14521.932544,9.061111,214.243246,0.154127,3.265595,61.950437,87.529336,67.089286,31.479008,2009-06,2009Q2,2009Q2
2010,15025.188619,9.627778,218.060520,0.175635,3.206667,79.475714,91.573732,71.479365,22.548889,2010-06,2010Q2,2010Q2
2011,15541.935337,8.973810,224.828369,0.103770,2.775992,94.880873,94.609649,66.713492,24.202579,2011-06,2011Q2,2011Q2
2012,15839.319272,8.099600,229.411164,0.137920,1.801640,94.121080,97.407650,76.677200,17.798880,2012-06,2012Q2,2012Q2
2013,16830.142683,7.348016,232.810123,0.109603,2.353214,97.982540,99.391800,79.746032,14.230119,2013-06,2013Q2,2013Q2
2014,17611.995282,6.233730,236.366524,0.090198,2.538016,93.172222,102.196069,82.383333,14.175992,2014-06,2014Q2,2014Q2
2015,18261.174774,5.286508,237.218079,0.134722,2.140079,48.656706,101.360807,92.473810,16.674127,2015-06,2015Q2,2015Q2
2016,18735.942214,4.925000,239.945861,0.387817,1.838254,43.293651,98.767969,91.738889,15.825635,2016-06,2016Q2,2016Q2
2017,18892.639000,4.364940,244.995199,0.978327,2.329641,50.781275,99.863838,96.401594,11.090239,2017-06,2017Q2,2017Q2
2018,19400.963159,3.914741,250.895347,1.793347,2.913625,65.075458,103.055101,98.229482,16.639841,2018-06,2018Q2,2018Q2
2019,21498.749258,3.665476,255.589036,2.148849,2.139087,56.988730,102.435515,96.186508,15.387857,2019-06,2019Q2,2019Q2
2020,21422.505909,8.219763,258.512233,0.440435,0.889170,39.185810,95.488599,81.780632,29.251304,2020-06,2020Q2,2020Q2
2021,23595.602167,5.415476,270.844718,0.081627,1.446865,68.175516,99.231958,79.131746,19.656151,2021-06,2021Q2,2021Q2
2022,25842.844271,3.631474,292.220135,1.620916,2.957769,94.902869,101.028931,59.645020,25.623904,2022-06,2022Q2,2022Q2
2023,26336.304000,3.642400,304.438520,4.994840,3.964560,77.592600,100.672425,64.505600,16.870040,2023-06,2023Q2,2023Q2
2024,28731.493889,4.051190,313.473976,5.172103,4.207817,76.606587,100.177012,71.425000,15.607579,2024-06,2024Q2,2024Q2
2025,30317.078702,4.238723,320.725485,4.359106,4.298681,65.863149,100.754626,59.457872,19.203872,2025-06,2025Q2,2025Q2